/* App.css — versión limpia */
.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg-dark);
}

main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 90px auto 0 auto; /* deja espacio para el header */
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-dark);
}
